.input {
  width: 30vw;
  margin: auto;
}

.gradient {
  background-image: linear-gradient(
    to left bottom,
    #6667ab,
    #4e72b2,
    #347cb5,
    #1785b3,
    #008cae
  );
}

.hello {
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: inline-block; */
  transform: scale(1.1, 1.4);
  margin: 1em;
  padding: 0.8em 3em;
  color: white;
  font-size: 1.3em;
  font-weight: lighter;
  font: bold;
  letter-spacing: 0.15em;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-family: Roboto, sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.srodek {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  margin: 40px;
  white-space: nowrap;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  background: rgb(104, 205, 245);
  margin: 5px;
  box-sizing: border-box;
  min-width: 300px;
  font-size: 2.5em;

  outline: 3px solid purple;
  outline-offset: -0.15em;
}
.nurse-img {
  opacity: 1;
  border-radius: 13em;
  margin: auto;
  inset: 0;
  size: 100px;
  /* position: absolute; */
}
