* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-weight: bold;
}

.main {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    #f97362,
    #fa72a1,
    #d987d7,
    #9ca0f6,
    #51b3f8
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.graph::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f073";
  font-size: 5em;
  color: Tomato;
}
.nurses::before {
  opacity: 0.5;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f0c0";
  font-size: 5em;
  color: Tomato;
}
.question::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f128";
  font-size: 5em;
  color: Tomato;
}
.login::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f2f6";
  font-size: 5em;
  color: Tomato;
}
.glass {
  min-height: 90vh;
  width: 80vw;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid rgb(246, 133, 3); */
}
.mainWindow {
  /* background-color: #008cae; */
  /* border: 3px solid green; */
  height: 100%;
  width: 60vw;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
}
.dashboard {
  /* position: relative; */
  /* left: 30px; */
  /* border: 1px solid black; */
  /* height: fit-content; */
  padding: 5vh 0 5vh 0;
  width: 15%;
  background-color: blue;
  /* padding-left: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 2rem;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

.gradienter {
  background-image: linear-gradient(
    to right top,
    #0f4c84,
    #4973a2,
    #799cc0,
    #abc6df,
    #e0f1ff
  );
}
.center {
  position: absolute;
  inset: 0;
  margin: auto;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* grid-column: auto; */
}

/* .login {
  position: absolute;
  inset: 0;
  margin: auto;
} */
